
@{
    ViewBag.Title = "商品详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Shop.Models.T_Shop_Product product = ViewBag.item;
    //Shop.Models.T_Base_User user = null;
    //if (Session["ticket"] != null)
    //{
    //    user = (Shop.Models.T_Base_User)Session["ticket"];
    //}
}
@section css{
    <style type="text/css">
        span {
            display: inline-block;
            width: 32%;
        }

        #price {
            color: firebrick;
            font-size: 20px;
        }
    </style>
}
<div>
    <img style="height:320px;margin-bottom:5px;" src="~/Content/img/@product.PicUrl" />
</div>
<div>
    <h4>@product.ProductName</h4>
    <p id="price" style="margin:10px 0px 0px 0px;">￥ @product.price</p>
    <br />
    <p>
        <span>销量:@product.SelledAmount</span>
        <span>库存:@product.StockAmount</span>
    </p>

    <nav aria-label="...">
        <ul class="pager" style="margin-top:0px;">
            <li class="next"><a href="#" style="margin-right:5px;" onclick="addCart()">加入购物车</a></li>
        </ul>
    </nav>
</div>

@section javascript{
    <script>
        function addCart() {
            $.ajax({
                url: "/shop/AddCart",
                data: {productId:@product.Id},
                async: true,
                type: "POST",
                success: function (result) {
                    if (result.code == 1) {
                        alert("添加成功！")
                    }
                    else if (result.code == 2) {
                        alert(result.message)
                        window.location.href = "/user/login";
                    }
                    else {
                        alert(result.message)
                    }
                }
            })
        }
    </script>

}


