
@{
    ViewBag.Title = "2018商城";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Shop.Models.T_Shop_Category> tmp = ViewBag.lst;
}

@Html.Partial("~/Views/Shared/_AD.cshtml")

<div>
    <ul id="menu">
        @{
            foreach (Shop.Models.T_Shop_Category item in tmp)
            {
                <li>
                    @*<a href="~/Shop/List?CategoryId=@item.Id" style="font-size:15px;line-height:20px;color:aliceblue">@item.CategoryName</a>*@
                    <a href="~/Shop/List?CategoryId=@item.Id" style="text-decoration:none">
                        <img class="img-circle" src="~/Content/img/@item.PicUrl" />
                        <p>@item.CategoryName</p>
                    </a>
                </li>
            }
        }
    </ul>
</div>

@*@section javascript{
        <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
        <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    }*@
@section css{
    <style>
        img {
            height: 260px;
        }
    </style>
    <style type="text/css">
        #menu {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }

            #menu li {
                border: none;
                width: 25%;
                height: 90px;
                float: left;
                box-sizing: border-box;
                text-align: center;   
                padding: 5px 0;
            }

                #menu li img {
                    width: 50px;
                    height: 50px;
                }

                #menu li p {
                    color:cadetblue;
                    margin: 5px;
                }
    </style>
}
