
@{
    ViewBag.Title = "商品列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Shop.Models.T_Shop_Product> tmp = ViewBag.lst;
}

<div style="padding:5px">
    @{ 
        foreach(Shop.Models.T_Shop_Product item in tmp)
        {
            <div class="media">
                <div class="media-left">
                    <a href="/shop/detail?Id=@item.Id">
                        <img class="media-object" style="width:64px;height:80px" src="~/Content/img/@item.PicUrl" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">@item.ProductName</h4>
                    <br />
                    ￥@item.price &nbsp;&nbsp;&nbsp; 已售：@item.SelledAmount 件
                </div>
            </div>
        }
    }
</div>

