<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        header {
            padding: 5px;
            height: 40px;
            background: red;
            line-height: 40px;
            text-align: center;
            width: 100%;
        }

        footer {
            height: 40px;
            background: red;
            line-height: 40px;
            text-align: center;
            position: fixed;
            bottom: 0px;
            width: 100%;
        }

        img {
            width: 100%;
        }
    </style>
    @RenderSection("css", false)
</head>
<body>
    <div>
        <header>@ViewBag.Title
            <a class="btn btn-primary" style="float:right" href="~/Shop/Register">注册</a>
        </header>
        <div class="container" style="padding:0px;margin:0px">
            @RenderBody()
        </div>
        <footer>版本所有</footer>
    </div>
    @RenderSection("javascript", false)
</body>
</html>



