* {
    margin:0px;
    padding:0px;
}

body {
    
}

#header {
    height: 50px;
    color: white;
    background: red;
    line-height: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}
#ad img{
    width:100%;
}

#list ul {
    list-style: none;
}
#list ul li{
    border-bottom:1px solid gray;
    position:relative;
}

.item_img_block{
    width:100px;
    height:100px;
    position:absolute;
}
    .item_img_block img {
        width: 100%;
        height: 100%;
    }
.menu_content_block{
    padding-left:105px;
    height:100px;
}
.detail {
    padding: 5px 0px;
}
.menu_content_block span{
    float:right;
}




footer {
    height: 50px;
    color: white;
    background: red;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

#footer_menu {
    list-style: none;
}

    #footer_menu li {
        float: left;
        width: 25%;
        height: 50px;
        box-sizing: border-box;
    }

li.add_boder {
    border-left: 1px solid white;
}

#footer_menu li p {
    height: 100%;
}
